@model QGS.Entities.BusinessEntities.QuoteVM

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

@{
    ViewBag.Title = "Edit";
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.QuoteId)

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6 mt-5">
            <!--Edit Details-->
            <h4>Edit Quote Status</h4>
            <hr />
            <div class="row">
                <div class="col-md-6">@Html.DisplayNameFor(model => model.QuoteId)</div>
                <div class="col-md-6">@Html.DisplayFor(model => model.QuoteId)</div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6">@Html.DisplayNameFor(model => model.UserEmail)</div>
                <div class="col-md-6">@Html.DisplayFor(model => model.UserEmail)</div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6">@Html.DisplayNameFor(model => model.Contact)</div>
                <div class="col-md-6">@Html.DisplayFor(model => model.Contact)</div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6">@Html.DisplayNameFor(model => model.Brand)</div>
                <div class="col-md-6">@Html.DisplayFor(model => model.Brand)</div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6">@Html.DisplayNameFor(model => model.ModelName)</div>
                <div class="col-md-6">@Html.DisplayFor(model => model.ModelName)</div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6">@Html.DisplayNameFor(model => model.Mileage_K_)</div>
                <div class="col-md-6">@Html.DisplayFor(model => model.Mileage_K_)</div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6">@Html.DisplayNameFor(model => model.TotalPrice)</div>
                <div class="col-md-6">@Html.DisplayFor(model => model.TotalPrice)</div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6">@Html.DisplayNameFor(model => model.Status)</div>
                <div class="col-md-6">@Html.DropDownList("StatusId", null, htmlAttributes: new { @class = "form-control" })</div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">@Html.ActionLink("Back to List", "Index", "Administrator", htmlAttributes: new { @class = "btn btn-danger" })</div>
                <div class="col-md-6"><input type="submit" value="Save" class="btn btn-primary" /></div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

</div>
}

